{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block javascript %}
    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
{% endblock %}
{% block content %}
    <h2>Save your password with this form</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        <a href="{% url 'home' %}">Back to front page</a>
{% endblock %}