{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block javascript %}
            <script>
                $(document).ready( function () {
                    $('#passwordList').DataTable();
                });</script>
            <script src="{% static 'show.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="table-responsive">
    <h2>List of passwords</h2>
        <table class="table table-bordered table-striped" id="passwordList">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Time</th>
                <th scope="col">Site url</th>
                <th scope="col">Login</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for password in passwords %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ password.date }}</td>
                <td>{{ password.site_url }}</td>
                <td>{{ password.login }}</td>
                <td>{% csrf_token %}<button class="btn btn-primary show_password" id="{{ password.pk }}">Show password</button>
                    <button class="btn btn-primary check_password" data-check="True" id="{{ password.pk }}">Check if pwned</button>
                <a class="btn btn-danger delete_password" href="{% url 'password_delete' pk=password.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
